[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
requests = "*"
pysus = "*"
selenium = "*"
webdriver-manager = "*"
matplotlib = "*"
seaborn = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
